#inputs,
#clickbutton {
    text-align: center;
}

body {
	text-align: center;
	background: #95a5a6;
	height: 100vh;
	overflow-y: hidden;
}

.container{
	height: 100vh;
}

#clickArea {
    padding: 0px;
}



#update {
    text-align: left;
}

.demo-headline {
    padding: 25vh 0 5vh;
}

#clickArea {
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

#inputArea{
	margin: 5vh auto;
}

#inputStr {
	width: 80vw;
	margin: 0 5vw;
	box-sizing: border-box;
	height: 2rem;
	font-size: 16px;
}

.count{
	font-size: 1rem
}

footer {
    position: fixed !important;
    width: 100%;
    bottom: 0;
    z-index: 5;
    height: 50px;
    position: absolute;
}

h1 {
    font-family: "微软雅黑";
}